body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #46a5e4;
    margin: 0;
}

.calculator {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 260px;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #f55858;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    height: 50px;
    font-size: 18px;
    background-color: #ffecec;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #eee;
}

button:active {
    background-color: #ccc;
}

button:nth-child(4n) {
    background-color: #ff9500;
    color: white;
}

button:nth-child(4n):hover {
    background-color: #ff7800;
}